html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-style: normal;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 20px;
}
header, main
{
    flex-grow: 1;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 35px;
    margin-right: 35px;
}

#about h2{
    padding-bottom: 20px;
}
#menu_flex{
    display: flex;
    flex-direction: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    
    
}

.menu-point{
margin-right: 15px;
}

#menu>a:active{
    color: red;
}

.menu a
{
    font-weight: bold;
    text-decoration: none;
    color: black;

}
.menu a:hover
{
    color: red;
    
}
.menu ul{
    margin-top: 35px;
}


#abutton {
    color: tomato;
}


table {
    border-collapse: collapse;
    margin-bottom: 20px;
    padding: 10px;
    border: solid;
    text-align: center;
}

th, td {
    padding: 5px;
    text-align: center;
    border: 2px solid black;
}

footer{
    background-color: black;
    color: white;
    margin: 0px;
    padding: 50px;
    box-sizing: border-box
    

}
.footr p
{
    font-size: xx-large;
}
.food-img
{
    width: 700px;
    height: 450px;
    padding-bottom: 15px;
}

.Spell h2{
    padding-bottom: 25px;
}


@media only screen and (max-width: 1400px){

    .menu{
        flex-direction: column;
        gap: 30px;
        margin-bottom: 32px;
    
    }
    
    h1{
        margin: 30px auto ;
      }
    
    #menu_flex{
        margin: 0;
        justify-content: space-between;
    }
    }
    
    /* media for screens <1000px */
    
    @media only screen and (max-width: 1200px){
    
        #menu_flex{
            flex-direction: column;
            gap: 66px;
        }
        
        h2{
            text-align: center;
            margin: 30px 0;
        }
        h1{
            text-align: center;
          }
        .img_main>img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            object-fit: cover;
        }
        
        
    }
    
     